*{-webkit-box-sizing:border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing:border-box;
  box-sizing:border-box}
body{
 margin:0px;
 padding:0px;
}
.container{
  width:70%;
  margin:0px auto
}
.header{
  background-color:#eb3b5a;
  display:flex;
  justify-content: space-between
}
.header h1{
  margin-left:20px
}
.header nav ul{
  list-style-type:none;
  margin:30px
}
.header nav ul li{
  display:inline;
  font-family:roboto;
  padding:20px;
  font-size:20px
}
.header nav ul li:hover{
  color:white;
  border:solid 2px white
}
header{
  background-image:url(header2.png);
  background-size:cover;
  text-align:center;
  height:450px
}
header p{
  color:white;
  text-transform:uppercase;
  font-family:roboto;
  font-size:55px;
  line-height:95px;
  margin-top:0px
}
header button{
 background-color:#eb3b5a;
 padding:15px 25px;
 color:black;
 text-transform:uppercase;
 font-family:roboto;
 border:none;
 border-radius:5px

}
header button:hover{
  color:white;
  border:solid 2px white
}
article .menu{
  display:flex;
  justify-content:space-around;
  text-align:center
}
article .menu #description h2{
  text-transform:uppercase;
  font-family:roboto;
  border-bottom:solid 2px black;
  text-align:left
}
article .menu #description p{
  text-transform:uppercase;
  font-family:roboto;
}
article .menu #description button{
 background-color:#eb3b5a;
 padding:15px 25px;
 margin-top:100px;
 color:white;
 text-transform:uppercase;
 font-family:roboto;
 border:none;
 border-radius:5px;
 text-align:center
}
article .menu #description button:hover{
  color:black;
  background-color:white;
  border:solid 1px black
}
article #ex{
  text-align:center;
  margin-top:10px
}
article #ex img{
  border:solid 1px gray
}
article #ex h4{
  text-transform:uppercase;
  font-family:roboto;
  margin:0px
}
article #ex #price{
  background-color:#eb3b5a;
  color:white;
  font-size:50px;
}
article section .container h1{
  text-transform:uppercase;
  font-family:roboto;
  text-align:center;
  font-size:40px;
  color:white;
  border-bottom:solid 2px white;
  margin-bottom:10px
}
article section .gallery{
  background-image:url(header2.png);
  background-size:cover;
  height:900px
}
article section iframe{
  border:none;
}
.parent{
  padding:10px;
  margin:20px;
  height:600px
}
.parent .blog1{
  display:flex;
  position: relative;
  margin:10px;
  width:40%;
  float:left;
  margin-left:60px;
  color:white
}
.parent #picturs img{
  width:250px;
  height:200px
}
.parent #picturs div{
  color:white;
  font-family:roboto;
  position:absolute;
  top:0px;
  left:0px;
  background-color:transparent;
  width:60px;
  height:40px;
  text-align:center;
}
.blog1 #msg h4{
  margin-top:0px;
  border:solid 1px white;
  text-align:center
}
.blog1 #msg h4, p{
  margin-left:10px;
  font-family:roboto
}
footer #competition{
  background-image:url(competition.png);
  background-size:cover;
  height:300px;
  text-align:center
}
footer #competition p{
  color:white;
  text-transform:uppercase;
  font-family:roboto;
  font-size:30px;
  line-height:70px;
  margin-top:10px;
}
footer #competition button{
 background-color:#eb3b5a;
 padding:15px 25px;
 color:black;
 text-transform:uppercase;
 font-family:roboto;
 border:none;
 border-radius:5px
}
#competition button:hover{
  color:white;
  border:solid 2px white
}
.data{
  text-align: center;
  background-color:#192a56;
  color:white;
  font-family:roboto;
  text-transform:uppercase;
  height:150px;
  padding:5px
}
.data input{
  padding:10px 20px;
  text-align:center
}


